html {
    height: 100%;
}

body {
    background-color:#00FFFF;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.heading{
    display:flex;
    justify-content: center;
}

.footer{
    display:flex;
    justify-content:space-between;
     width:30px;
    height:30px;
}
.gallerypage{

}
.aboutpage{
    display:flex;
    justify-content:space-between;
    
}
.gallery{
    display:flex;
    justify-content:space-between;
}

.footer{
    display:flex;
    justify-content:center;
    width:10px;
    height:10px;
}
.thumbnail-image{
     border-radius:50%;
     padding:15px;
    
}
.image{
    border-radius:50%;
    width:540px;
}
.age{
    width:350px;
    border: 4px dotted red;
    margin:40px;
}
.header{
    color:red;
    font-size: :70px;
}
.about{
    
}
h2{
    color:pink;
    
    display:flex;
    justify-content:center;
    font-size:100px;
}
.nav-item{
    display:inline;
     margin-left: 14%;
    font-size: 50px ;
    
}
#save{
    width:250px;
    height:250px;
    border: 15px solid black;
    margin-left: 38%;
    margin-top: 64px;
}